/* Variables */


/* Nest Main */
main {
    width: 1350px;
    min-height:535px;
}

// Mixin or Extend for button
// styles.scss

// Mixin for buttons
@mixin button-style {
    background-color: $light-green;
    color: $dark-gray;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    
    &:hover {
      background-color: $bright-green;
    }
  }
  
  // Apply mixin to your button
  .submit-button {
    @include button-style;
  }
  

  // styles.scss 

main {
  width: 1350px;
  min-height: 535px;
  display: flex;
  justify-content: space-between;

  #intro-text {
    width: 60%;
    span {
      font-family: 'Sacramento', cursive;
      font-size: 2rem;
    }

    h3 {
      font-size: 2.5rem;
      color: $dark-gray;
    }

    p {
      font-size: 1.5rem;
      color: $dark-gray;
    }
    
    .submit-button {
      @include button-style;
    }
  }

  #intro-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// styles.scss

@import 'colors';
@import 'nav';

